<form action="?action=vosk&tab=settings" method="post" class="form-horizontal">
    <input type="hidden" name="view_mode" value="update_settings">

    <div class="panel panel-default">
        <div class="panel-heading"><#LANG_VOSK_SETTINGS#></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-4"><#LANG_VOSK_PYTHON_BIN#></label>
                <div class="col-md-6">
                    <input type="text" name="python_bin" value="[#PYTHON_BIN#]" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4"><#LANG_VOSK_REMOTE_ASR_URL#></label>
                <div class="col-md-6">
                    <input type="text" name="remote_asr_url" value="[#REMOTE_ASR_URL#]" class="form-control" placeholder="asr.example.com:5001">
                    <span class="help-block"><#LANG_VOSK_REMOTE_ASR_URL_HELP#></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4"><#LANG_VOSK_TRIGGER_PHRASE#></label>
                <div class="col-md-6">
                    <input type="text" name="trigger_phrase" value="[#TRIGGER_PHRASE#]" class="form-control" placeholder="<#LANG_VOSK_TRIGGER_PHRASE_PLACEHOLDER#>">
                    <span class="help-block"><#LANG_VOSK_TRIGGER_PHRASE_HELP#></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">
                    <button type="submit" class="btn btn-primary"><#LANG_VOSK_SAVE#></button>
                </div>
            </div>
        </div>
    </div>
</form>
